[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux/OhMyTmux"]
	path = tmux/OhMyTmux
	url = https://github.com.cnpmjs.org/gpakosz/.tmux.git
