[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com.cnpmjs.org/anishathalye/dotbot
	branch=master
	update=rebase
	ignore = dirty
[submodule ".tmux"]
	path = .tmux
	url = https://github.com.cnpmjs.org/gpakosz/.tmux.git
[submodule ".zinit"]
	path = .zinit
	url = https://github.com.cnpmjs.org/zdharma-continuum/zinit.git
